* {
  box-sizing: border-box;
}

div.youtube {
  margin: 5%;
  border: 1px solid black;
  background-color: #ddd;
  overflow: hidden;
}

div.youtube:hover {
  background-color: grey;
  transform: scale(1.1);
  transition: 0.1s;
}

div.youtube img {
  width: 80%;
  aspect-ratio: 1/1;
  margin: 10%;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}


th{
    width: 300px;
}

div.desc p{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
div.desc b{
    font-size: 18px;
}

div.desc {
  padding: 15px;
  text-align: center;
  overflow: hidden;
}

.youtube a{
  text-decoration: none;
  color: black;
}
#navbuttons{
  display: flex;
  justify-content: space-evenly;
}
.scroll-button{
  color: black;
  border: 1px solid black;
  background-color: #ddd;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  width: 200px;
}
.scroll-button:hover{ 
  background-color: gray;
  transform: scale(1.1);
  transition: 0.1s;
}

.scroll-button img{
  float: left;
  width: 30px; 
  height: 30px;
}

.link-list{
  margin: 20px;
  border: 0;
  padding: 0%;
  list-style-position: inside;
  list-style-type: none;
}
.link-list li{
  background-color: #ddd;
  margin: 10px;
}
.link-list a{
  display: inline-block;
  width: 100%;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 5px;
}
.link-list a:hover{
  transform: scale(1.02, 1.1);
  background-color: grey;
  color: white;
  text-decoration: underline;
  transition: 0.1s;
}
.link-list img{
  vertical-align: middle;
  margin: 5px;
  height: 40px;
}
.link-list p{ 
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.responsive {
  display: grid; 
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

@media only screen and (max-width: 1200px) {
    .responsive {
        grid-template-columns: 25% 25% 25% 25%
    }

}

@media only screen and (max-width: 1000px) {
    .responsive {
     grid-template-columns: 33% 33% 33%;
    }

}

@media only screen and (max-width: 700px) {
    .responsive {
        grid-template-columns: 50% 50%;
    }
    #navbuttons{
      flex-direction: column;
    }
}