.project, .project article, .project .pageHead{
  padding: 0px;
  margin: 0px;
}



iframe{
  display: block;
  width:100%;
  border:none;
  overflow:hidden;
  border-top: 2px solid black;
}


.ImageRow3{
  width: 33.3%;
}

.ImageRow2{
  width: 50%;
}

.gallery{
  border: 1px solid black;
  background-color: #eee;
  margin: 10px;
}
.gallery a{
  width: 100%;
  padding: 0px;
  text-decoration: none;
  color: black;
}

.gallery:hover{
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  background-color: gray;
}

.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.desc {
  margin: 10px 0 10px 0px;
  font-size: 20px;
  text-align: center;
}
.gallery .info{
  padding: 0;
  margin: 0;
  font-size: 15px;
  text-align: center;
}
.info .icon{
  vertical-align: middle;
  height: 20px;
  width: fit-content;
}
.return-projects{
  position: fixed;
  z-index: 10;
  font-size: 25px;
  font-weight: bold;
  padding: 3px;
  margin: 15px;
  color: black;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
}
.return-projects:hover{
  background-color: gray;
}



* {
  box-sizing: border-box;
}

#fullwidth-video{
  margin: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.responsive {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.imagecontainer{
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .responsive {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    grid-template-columns: 100%;
  }
  
  .responsive , .ImageRow2, .ImageRow3{
  width: 100%;
  }
  .imagecontainer{
    flex-direction:column;
  }
}