:root {
  --navbar-width: 200px;
  --header-height: 75px;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(background.png);
  background-size: 80px;
  background-position: var(--navbar-width);
  font-family: Bahnschrift, Arial;
  margin: 0;
}

nav {
  padding: 0px;
}

nav ul {
  position: fixed;
  width: var(--navbar-width);
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100vh; /* Full height */
  background-color: #ddd;
  z-index: 10;
}
nav ul li p{
  display: inline;
}

.navButton {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border-left: 5px solid rgb(61, 61, 61);
}
.navButton:hover {
  background-color: grey;
  border-left: 15px solid rgb(61, 61, 61);
  transition: 0.2s;
}

.dropdown-nav{
  position: relative;
}
.dropdown-menu{
  display: none;
  background-color: white;
  width: max-content;
  position: absolute;
  top: 0;
  left: 100%;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.473);
}
.dropdown-menu a{
  display: block;
}

.dropdown-nav:hover .dropdown-menu{
  display: block;
}

#bottom-nav{
  position: fixed;
  width: var(--navbar-width);
  bottom: 0px;
  z-index: 15;
}

#go-up{
  display: block;
  padding: 10px;
  font-size: 15px;
}

header{
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
	height: var(--header-height);
	color: rgb(255, 255, 255);
	background-color: #003399;
  border-bottom: 10px solid rgb(255, 255, 255);
}

.language{
  display: none; /* display: flex to enable*/
  margin:30px;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 100%;
}

#logo{
  height: var(--header-height);
  margin-left: 20px;
}


.icon{
  height: 20px;
  width: 20px;
  object-fit: contain;
}
p .icon{ vertical-align: middle;}


.flag{
  height: 21px;
  width: 35px;
  padding: 0;
  margin: 5px;
  border: 1px solid black;
}

li{
  font-size: 20px;
}

button{
  border: 0px;
}

button:hover {
  cursor: pointer;
  background-color: grey;
}

#siteTitle{
  margin: 0px 30px 0px 30px;
  font-size: 250%;
  font-family: Bahnschrift, Arial;
}

.content{
  margin-top:var(--header-height);
  margin-left: var(--navbar-width);
  overflow:hidden;
}

.pageHead{
  position: relative;
  display: block;
  z-index: -1;
}
.pageHead img{
  display: block;
  width: 100%;
}

.pageHead h1{
	position: absolute;
  padding: 15px;
  border: none;
	font-size: 5vw;
	color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.419);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.divider{
  height: var(--header-height);
}

.dropdown{
  display: block;
  width: fit-content;
  background-color: #eee;
  margin: 20px;
  transition: 2s;
}
.dropdown button{
  font-size: 20px;
}

article{
  position: relative;
  display: block;
  margin-bottom: 20px;
}

article h1 {
  color: black;
  background-color: white;
  border-bottom: 5px double black;
  margin: 0;
  padding: 20px;
  padding-left: 40px;
  font-family: Arial;
}

article h2{
  margin: 5px 0px 0px 10px;
}

article p {
	color: black;
  padding: 10px 15px 5px 15px;
  margin: 0px;
	font-size: 20px;
}

table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  background-color: white;
}

th{
  background-color: #003399;
  color: white;
  width: 300px;
}

input, select, textarea {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: white;
  border: 1px solid black; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  color: black;
  padding: 12px 20px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #ccc;
}

.flex-container{
  display: flex;
  justify-content: space-between;
}

.post {
  display: flex;
  margin: 20px;
  padding: 10px;
  background-color: white;
}
.post h2{ 
  border: none;
  padding: 0;
  margin: 0;
  font-size: 30px;
}
.post-date{
  margin: 0 0 0 10px;
  size: 7px;
  font-weight: bold;
  display: block;
}
.post img{
  margin: 5px;
  border: 1px solid black;
  height: 200px;
  object-fit: cover;
}
.post p{
  color: black;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.grid-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.grid-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

#blog-referal{
  text-align: center;
}

.container {
  padding-left: 20px;
  width: 80%;
}
.buttonwall{
  text-align: center;
}

.button{
  height: 50px; margin: 5px;
  display: inline;
  image-rendering: pixelated;
}

@media only screen and (max-width: 1200px) {
  .grid-column {
    flex: 33.3%;
    max-width: 33.3%;
  }
}

@media only screen and (max-width: 1000px) {
  .post {display: block;}
  :root {  --navbar-width: 150px;}
  .flex-container{flex-direction: column;}
  .grid-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .post img{width: 50vw;}
  .grid-column {
    flex: 100%;
    max-width: 100%;
  }
  .dropdown-nav:hover .dropdown-menu{
  display: none;
  }
  nav ul li p{
  display: none;
  }
  :root {
  --navbar-width: 60px;
  }
  #bottom-nav{
    display: none;
  }
  .pageHead h1{
	font-size: 12vw;
}
}
